finance-datareader
pandas
requests
beautifulsoup4
lxml
pytz
google-generativeai>=0.4.0
gspread
oauth2client
numpy
google-generativeai
openai
mplfinance
gspread-formatting
gspread-dataframe
yfinance
feedparser
pykrx
flask==3.0.3
requests==2.32.3
pandas==2.2.2
numpy==1.26.4
FinanceDataReader==0.9.96
lxml==5.2.2
html5lib==1.1
beautifulsoup4==4.12.3
openpyxl==3.1.5
pykrx==1.0.48
pytz==2024.1